* {
	margin: 0px;
	padding: 0px;
	font-family: "microsoft yahei";
}
body {
	background-color: darkslategray;
}
h3 {
	margin-top: 30px;
	color: white;
	text-align: center;
}
#bottom {
	position: relative;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	height: 200px;
	background-color: #F0F8FF;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0px 20px gray;
	-webkit-box-shadow: 0px 20px gray;
}
#list {
	list-style-type: none;
	width: 1000px;
	height: 200px;
}
li {
	display: inline-block;
	position: absolute;
	/*使用过渡，形成图片切换时的动画*/
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;;
}
.li1 {
	top: -75px;
	left: 400px;
	z-index: 3;
}
.li2 {
	top: -85px;
	left: 610px;
	z-index: 3;
}
.li3 {
	top: -115px;
	left: 750px;
	transform: scale(0.9);
	z-index: 2;
	opacity: 0.8;
}
.li4 {
	top: -155px;
	left: 750px;
	transform: scale(0.8);
	opacity: 0.5;
}
.li5 {
	top: -190px;
	left: 610px;
	transform: scale(0.7);
	opacity: 0.5;
}
.li6 {
	top: -190px;
	left: 400px;
	transform: scale(0.7);
	opacity: 0.5;
}
.li7 {
	top: -190px;
	left: 190px;
	transform: scale(0.7);
	opacity: 0.5;
}
.li8 {
	top: -155px;
	left: 50px;
	transform: scale(0.8);
	opacity: 0.5;
}
.li9 {
	top: -115px;
	left: 50px;
	transform: scale(0.9);
	z-index: 2;
	opacity: 0.8;
}
.li10 {
	top: -85px;
	left: 190px;
	z-index: 3;
}